<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <!-- <div class="d-flex align-center"> -->
        <!-- <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        /> -->
      <!-- </div>  -->
      <v-container>
        <v-row>
           <v-toolbar-title>
        <h2><span style="color: black;">no</span>code</h2>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn outlined text to="/">
        <!-- <span class="mr-2">Latest Release</span> -->
        <v-icon>mdi-folder-plus</v-icon>
      </v-btn>
     
        <v-btn outlined text>
        <!-- <span class="mr-2">Latest Release</span> -->
         <v-badge color="error" overlap avatar dot>
        <v-icon>mdi-bell</v-icon>
      </v-badge>

      </v-btn>
         

      <v-btn outlined text to="/subcribes">
        <!-- <span class="mr-2">Latest Release</span> -->
        <v-icon color="yellow darken-1">mdi-crown</v-icon>
      </v-btn>
      <v-btn outlined text to="/projects" >
        <!-- <span class="mr-2">Latest Release</span> -->
        <v-icon color="light-green accent-3">mdi-server</v-icon>
      </v-btn>
      
      <v-btn to="/admin" outlined text>
        <!-- <span class="mr-2">Latest Release</span> -->
        <v-icon>mdi-arrange-bring-forward</v-icon>
      </v-btn>
      <v-btn outlined text>
        <!-- <span class="mr-2">Latest Release</span> -->
        <v-icon>mdi-account</v-icon>
      </v-btn>
        </v-row>
      </v-container>
     
    </v-app-bar>

    <v-main>
      <v-container class="app-container">
        <router-view/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style scoped>
  .app-container {
    /* border: 2px blue solid; */
    /* min-width: 85vw !important; */
    /* min-height: 89vh; */
  }

  .v-btn {
    margin-right: 0.5em;
  }
</style>
