<template>
    <v-btn dark @click="skan()">Просканировать</v-btn>
</template>

<script>
export default {
    methods: {
        skan() {
            console.log("HELLO");
        }
    }
}
</script>

<style>

</style>