<template>
  <div>
    <v-row>
      <v-col class="extra-container" cols="4">
        <v-card outlined elevation="3" class="extra-card">
          <v-card-title class="font-weight-bold">
            Services:
            <v-spacer/>
                  <v-btn dark color="green">Создать проект<v-icon>mdi-check-circle</v-icon></v-btn>
          </v-card-title>
          <v-divider/>
          <v-card-text class="extra-card-content">
            <v-btn @click="servicesDialog = true" dark color="red" width="100%">Добавить</v-btn>
            <v-flex v-for="i in [1, 2, 3, 4, 5]" :key="i">
              <v-card  dark outlined color="blue" class="service-card">
                <v-card-title>
                  Service {{i}}
                  <v-spacer/>
                  
                  <v-btn icon dark v-bind="attrs"><v-icon>mdi-close-thick</v-icon></v-btn>
                  </v-card-title>
                <v-card-subtitle>Some description</v-card-subtitle>
              </v-card>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-col>

      <v-dialog
      v-model="modelDialog"
      width="600"
    >

      <v-card>
        <v-card-title class="headline grey lighten-2">
          Model
          <v-btn class="add-field-btn" color="green" dark>Добавить поле</v-btn>
          <v-spacer/>
          <v-btn icon><v-icon color="red" @click="modelDialog = false">mdi-close-thick</v-icon></v-btn>
        </v-card-title>

        <v-card-text>
          <v-row v-for="i in [1, 2, 3]" :key="i">
            <v-col cols="5">
             <v-text-field v-model="model.name"></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-select
                :items="types"
                label="Тип поля"
                solo
              ></v-select>
            </v-col>
            <v-col cols="3">
               <v-select
                :items="countTypes"
                v-model="countType"
                solo
              ></v-select>
            </v-col>
            <v-col cols="1"><v-btn icon><v-icon>mdi-close-thick</v-icon></v-btn></v-col>
          </v-row>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="modelDialog = false"
          >
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog
      v-model="servicesDialog"
      max-width="90vw"
    >
      <v-card>
        <v-card-title>Select Services</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="min-height: 300px">
          <v-row>
            <v-col cols="4">
              <v-card height="400px">
                <v-card-title>Services</v-card-title>
                <v-card-text class="extra-card-content" style="max-height: 300px">
                  <v-flex v-for="i in [1, 2, 3, 4, 5]" :key="i">
              <v-card  dark outlined color="blue" class="service-card">
                <v-card-title>
                  Service {{i}}
                  <v-spacer/>
                  
                  <!-- <v-btn icon dark v-bind="attrs"><v-icon>mdi-plus-thick</v-icon></v-btn> -->
                  <v-checkbox></v-checkbox>
                  </v-card-title>
                <v-card-subtitle>Some description</v-card-subtitle>
              </v-card>
            </v-flex>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="8">
              <v-card height="400px">
                <v-card-title>Service name</v-card-title>
                 <v-card-text class="headline font-weight-bold">
                   "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
                </v-card-text>  
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            color="blue darken-1"
            text
            @click="servicesDialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="servicesDialog = false"
          >
            Add
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

      <v-col class="main-container" cols="8">
        <v-card class="main-card" >
          <v-card-title color="light-green lighten-4" class="service-title">
            Service Name
            <v-spacer/>
            <v-btn dark color="yellow darken-1"><v-icon>mdi-wrench</v-icon></v-btn>
          </v-card-title>
          <v-card-text class="headline font-weight-bold">
             "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
          </v-card-text>  
          <v-card-text class="models-container">
            <v-row>
              <v-col v-for="i in [1, 2, 3, 4, 5]" :key="i" cols="6">
              <v-card @click="modelDialog = !modelDialog" :to="'/'" class="model-card">
                <v-card-title>
                  Model Name {{i}}
                  <v-spacer/>
                <v-btn icon>
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                </v-card-title>
                <v-card-subtitle>
                  <div>name </div>
                  <div>surname</div>
                  <div>file</div>
                </v-card-subtitle>
              </v-card>
            </v-col>
            </v-row>
         
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import HelloWorld from '../components/HelloWorld'

  export default {
    name: 'Home',
    data () {
      return {
        modelDialog: false,
        servicesDialog: false,
        model: {
          name: "Имя",
          type: "Текст", 
          isArray: false
        },
        types: ['String', "Boolean", "Integer", "Long", "Double"],
        countTypes: ['Single', 'Array'],
        countType: 'Single'
      }
    },
    components: {
      HelloWorld,
    },
   
  }
</script>

<style >
  .extra-container {
    /* border: 2px red solid; */
    /* min-height: 90vh; */
  }

  .main-container {
    /* border: 2px green solid; */
  }

  .extra-card {
    height: 84vh;
    display: flex !important;
    flex-direction: column;
  }

  .main-card {
    height: 84vh;
     display: flex !important;
    flex-direction: column;
  }

  .service-card {
    margin-top: 1em;
  }

  .extra-card-content {
    flex-grow: 1;
    overflow: auto;
  }

  .models-container {
     flex-grow: 1;
     overflow: auto;
  }

  .model-card {
    display: flex !important;
    flex-direction: column !important;
  }

  .service-title {
  }

  .add-field-btn {
    margin-left: 1em;
  }
</style>