<template>
  <v-row>
      <v-col v-for="item in items" :key="item.title" cols="6">
        <v-card
                    :color="item.color"
                    dark
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                        <v-card-title
                        class="text-h5"
                        v-text="item.title"
                        ></v-card-title>

                        <v-card-subtitle v-text="item.description"></v-card-subtitle>

                        <v-card-actions>
                        <v-btn text outlined>
                            OPEN 
                        </v-btn>

                        <v-btn @click="item.isRunning = true" v-if="item.isRunning" color="green">
                            <v-icon>mdi-play</v-icon>
                        </v-btn>
                        <v-btn @click="item.isRunning = false" v-else color="red">
                            <v-icon>mdi-stop</v-icon>
                        </v-btn>
                        </v-card-actions>
                    </div>

                    <v-avatar
                        class="ma-3"
                        size="125"
                        tile
                    >
                        <v-img :src="'http://s1.iconbird.com/ico/0612/iconslandhardware/w256h2561339398364HomeServer.png'"></v-img>
                        <!-- https://lh3.googleusercontent.com/proxy/quC3aBfW2RVZedgPZTl_pSun1yZrAs65gPaDlX35OV9jtoQF-4XOQ06sGVqhsljdupdVsBif4pH0nK5yjK5Njkak59AI5fvZFJbZcC4Exg -->
                    </v-avatar>
                    </div>
                </v-card>
      </v-col>
  </v-row>
</template>

<script>
export default {
data: () => ({
      items: [
        {
          color: '#1F7087',
          title: 'Messaging service',
          description: 'Сервис для учебы. Не хотел писать код',
          isRunning: true
        },
        {
          color: '#952175',
          title: 'Market service',
          description: 'Это мой проект для моего магазина',
          isRunning: false
        },
        {
          color: '#1F7087',
          title: 'Messaging service',
          description: 'Сервис для учебы. Не хотел писать код',
          isRunning: false
        },
        {
          color: '#952175',
          title: 'Market service',
          description: 'Это мой проект для моего магазина',
          isRunning: false
        },
        {
          color: '#1F7087',
          title: 'Messaging service',
          description: 'Сервис для учебы. Не хотел писать код',
          isRunning: true
        },
        {
          color: '#952175',
          title: 'Market service',
          description: 'Это мой проект для моего магазина',
          isRunning: true
        },
      ],
    })
}
</script>

<style>

</style>