<template>
  <v-row>
      <v-col v-for="sub in subs" :key="sub.name" cols="4" >
          <v-card class="d-flex flex-column" height="60vh">
              <v-card-title class="card-title" :style="'background-color:' + sub.color">
                  {{sub.name}}
              </v-card-title>
              <v-card-text class="headline font-weight-bold">
                  {{sub.description}}
              </v-card-text>
              <v-spacer/>
              <v-card-actions class="card-actions">
                  <v-btn dark color="red">
                      Купить
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-chip :style="'background-color:' + sub.color" class="ma-2 headline font-weight-bold" dark>{{sub.price}} рублей/месяц</v-chip>
              </v-card-actions>
          </v-card>
      </v-col>
  </v-row>
</template>

<script>
export default {
    name: "Sub",
    data() {
        return {
            subs: [
            {
                name: 'FREE',
                price: 0,
                color: '#1976d2',
                description: 'Free to use bro, but no perks for you hehehe'
            },
            {
                name: 'PLATINA',
                price: 999,
                color: 'rgb(57, 228, 205)',
                description: 'Brooo all perks for you man, metrics for analyse and add new services, fast communications with developers and etc'
            },
            {
                name: 'GOLD',
                price: 499,
                color: '#fdd835',
                description: 'Its very good to use, but fock you man, by platina and dont fock my brain'
            }
        ]
        }
    }
}
</script>

<style scoped>
 /* .card-outter {
  position: relative;
  padding-bottom: 50px;
}
.card-actions {
  position: absolute;
  bottom: 0;
} */
.card-title {
    color: white;
}
</style>